.intro
{
    background-color: #FFF5C3;
    
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -300px;
    margin-left: -400px;
    border-radius: 10px;
    z-index: 99;
    
}

.explanation
{
    background-color: #7C786A;
    border-radius: 5px;
    top: 12%;
    position: absolute;
    width: 350px;
    height: 400px;
    z-index: 100;
}

#night-explanation
{
    left: 3%;
    color: #6DADA1;
}

#day-explanation
{
    left: 53%;
    color: #B3C377;
}

.message
{
    background-color: #8DCDC1;
    width: 500px;
    border: 1px solid #666666;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -250px;
    z-index: 11111111;
    border-radius: 15px;
}

.hint{
	position: absolute;
    top: 10%;
    left: 50%;
    background-color: #EB6E44;
    padding: 10px;
    width: 400px;
    height: 75px;
    opacity:0.7; 
    margin-left:-200px;
    text-align: center;
    z-index: 11111111;
    border-radius: 5px;
}

.general-info
{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #EB6E44;
    padding: 10px;
    width: 15%;
    text-align: center;
    z-index: 11111111;
    border-radius: 5px;
}

.day-night-info
{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #EB6E44;
    padding: 10px;
    width: 15%;
    text-align: center;
    z-index: 11111111;
    border-radius: 5px;
}

h3 
{
    display: inline;
}

.build-image 
{
    width: 75px;
    height: 75px;  
}

.build-images
{
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 11111111;
}

.build-info
{
    background-color: #FFF5C3;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    border-radius:10px;
}

#exit-day
{
    position:absolute;
    left:50%;
    top:50%;
    width: 800px;
    text-align:center;
    background-color: #8DCDC1;
    border-radius: 15px;
    z-index: 11111111;
}
